LISTEN_ADDRESS=<HOSTNAME:PORT>

FCM_KEY=<FCM_KEY>

LND_ADDRESS=<HOSTNAME:PORT>
LND_CERT=<LND_CERT> #replace each eol by \\n
LND_MACAROON_HEX=<hex encoded macaroon>
NETWORK=simnet #or testnet,mainnet

GOOGLE_CLOUD_SERVICE_FILE=<full path of json file>
GOOGLE_CLOUD_IMAGES_BUCKET_NAME=<bucket name>

BTCD_HOST=<HOSTNAME:PORT>
BTCD_USER=<USER>
BTCD_PASS=<PASSWORD>
BTCD_CERT=<BTCD_CERT> #replace each eol by \\n

REDIS_URL=<HOSTNAME:PORT>
REDIS_DB=<DB #>

LSP_CONFIG='{"<ID1>":{"Server":"<HOST:PORT>","Token":"<TOKEN>"},"<ID2>":{"Server":"<HOST:PORT>","Token":"<TOKEN>"}}'
LSP_TOKEN=<TOKEN>